ldap.bindDn = {{ docker_sonarqube_ldap_bind_dn }}
ldap.bindPassword = {{ docker_sonarqube_ldap_password }} 
ldap.url = {{ docker_sonarqube_ldap_host }} 
ldap.user.baseDn = {{ docker_sonarqube_ldap_base }}
